@charset "UTF-8";
@media screen and (min-width: 768px) and (max-width: 1025px) {
    body{
        background-image: linear-gradient(to top, rgb(15, 104, 15), purple);
    }
    main{
        width: 520px;
        height: 300px;

    }
    img{
        position: absolute;
        height: 302px;
        width: 227px;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }
    div.imagem{
        float: left;
    }
    div.login{
        float: right;
        margin: 10px;
        padding: 10px;
        transition-timing-function: ease;
    }
    form{
        display: block;
        float: right;
        padding: 10px;
    }
    div.email{
        width: 99%;
    }
    div.senha{
        width: 99%;
    }
    input.senha:focus-within{
    background-color: aliceblue;
}
}
@media screen and (min-width: 1026px) {
    body {
        background-image: linear-gradient(to right, purple, aquamarine);
    }
    main {
        width: 700px;
        height: 350px;
    }
    img {
        position: absolute;
        height: 350px;
        width: 300px;
        top: 0px;
        left: 400px;
        overflow: hidden;
    }
    div.imagem{
        float: right;
    }
    div.login{
        float: left;
        margin: 10px;
        padding: 10px;
    }
    form{
        position: absolute;
        display: block;
        float: left;
        top: 112px;
        left: 45px;
    }
    div.email{
        width: 100%;
    }
    div.senha{
        width: 100%;
}
input{
    background-color: aqua;
    margin: 10px;
}
input.senha:focus-within{
    background-color: aliceblue;
}
}