@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
html, body{
    height: 100vh;
    width: 100vw;
    position: relative;
}
body{
    background-color: blueviolet;
}
main{
    background-color: aliceblue;
    height: 400px;
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
}
span{
    background-color: blueviolet;
    color: aliceblue;
    left: 10px;
}
input{
    height: 17px;
    margin: 2px;
    left: 10px;
}
img{
    height:146px;
    width: 280px;
}
div.imagem{
    display: block;
}
div.login{
    display: block;
}
a{
    display: block;
    margin: 5px;
    padding: 6px;
    text-decoration: none;
    background-color: aqua;
    border-radius: 5px;
}
a:hover{
    background-color: rgba(16, 153, 217, 0.726);
}
a:active{
    background-color: blue;
}
div.senha{
    background-color: rgba(26, 9, 208, 0.758);
    margin: 5px;
    border-radius: 3px;
}
div.email{
    background-color: rgba(35, 10, 198, 0.758);
    border-radius: 3px;
    margin: 5px;
}