@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
html, body{
    height: 100vh;
    width: 100vw;
    position: relative;
}
body{
    background-color: blueviolet;
}
main{
    background-color: aliceblue;
    height: 400px;
    width: 280px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
span{
    background-color: blueviolet;
    color: aliceblue;
    left: 10px;
}
input{
    height: 17px;
    margin: 2px;
    left: 10px;
}
img{
    height:146px;
    width: 280px;
}